<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webapp.mapper.UserMapper">

    <insert id="insertUser" parameterType="User">
        insert into user
        (id, name, age, address, sex, id_sort, tel_number, qq, account, password)
        values (#{id}, #{name}, #{age}, #{address}, #{sex}, #{id_sort}, #{tel_number}, #{qq}, #{account}, #{password})
    </insert>

    <select id="getUserById" resultType="User">
        select * from user where id = #{id}
    </select>

    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>

    <update id="updateUser">
        update user
        set name= #{name},
            age=#{age},
            address=#{address},
            sex=#{sex},
            tel_number=#{tel_number},
            qq=#{qq},
            account=#{account},
            password=#{password}
        where id = #{id}
    </update>

    <select id="selectUserByPage" resultType="User">
        select * from user where 1=1
        <if test="name != null and name.trim().length() > 0">
            and name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="phone != null and phone.trim().length() > 0">
            and tel_number LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="name == null or name.isEmpty()">
            AND name LIKE '%%'
        </if>
        <if test="phone == null or phone.isEmpty()">
            AND tel_number LIKE '%%'
        </if>
    </select>

    <select id="getTotal" resultType="int">
        select COUNT(*) from user;
    </select>

    <select id="findUserByNameAndPwd" resultType="User">
        select * from user where name = #{name} and password = #{password}
    </select>
</mapper>