<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webapp.mapper.UserMapper">

    <!-- 定义 resultMap 映射 -->
    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <!-- 不需要映射的列字段 -->
        <!--        <discriminator javaType="String" column="password" />-->
    </resultMap>

    <insert id="insertUser" parameterType="User">
        insert into user
        (id, nickname, age, address, sex, tel_number, qq, password, create_time)
        values (#{id}, #{name}, #{age}, #{address}, #{sex}, #{tel_number}, #{qq}, #{password},
                #{createTime})
    </insert>

    <select id="getUserById" resultType="User">
        select *
        from user
        where id = #{id}
    </select>

    <delete id="deleteUser">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="updateUser">
        update user
        set nickname= #{nickname},
            age=#{age},
            address=#{address},
            sex=#{sex},
            tel_number=#{tel_number},
            qq=#{qq},
            password=#{password}
        where id = #{id}
    </update>

    <update id="update">
        update user
        set nickname   = #{nickname},
            avatar     = #{avatar},
            tel_number = #{tel_number}
        where id = #{id}
    </update>


    <select id="selectUserByPage" resultType="User" resultMap="userMap">
        select * from user where 1=1
        <if test="name != null and name.trim().length() > 0">
            and nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>
        <if test="phone != null and phone.trim().length() > 0">
            and tel_number LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="sex != null and sex.trim().length() > 0">
            and sex = #{sex}
        </if>
        order by id_sort desc
    </select>

    <select id="getTotal" resultType="int">
        select COUNT(*)
        from user;
    </select>

    <select id="findUserByNameAndPwd" resultType="User">
        select *
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="findUserByUsername" resultType="User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="register" parameterType="User">
        insert into user(id, username, password, nickname, age, address, sex, tel_number, qq, create_time, is_delete)
        values (null, #{username}, #{password}, null, null, null, null, null, null, CURRENT_TIMESTAMP, 0)
    </insert>

    <select id="getInfoById" resultType="map">
        select id,
               username,
               nickname,
               avatar,
               age,
               address,
               sex,
               tel_number,
               qq,
               create_time
        from user
        where id = #{id}
    </select>

    <update id="setPassword">
        update user
        set password = #{newPassword}
        where id = #{id}
    </update>
</mapper>